@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

* {
  box-sizing: border-box;
}

html {
  line-height: 1.8;
  font-size: 13px;
  background: #000;
  font-family: Lato, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: .2em;
}

p {
  font-size: 1.3rem;
}

/*nav-bar*/

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}

.menu li a {
  font-size: 22px;
  color: #4fd9bd;
  text-decoration: none;
  transition: all 0.45s;
}

.menu li:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltZT0iMTAiIGQ9Ik0wLDQ3LjU4NWMwLDAsOTcuNSwwLDEzMCwwCgljMTMuNzUsMCwyOC43NC0zOC43NzgsNDYuMTY4LTE5LjQxNkMxOTIuNjY5LDQ2LjUsMjQzLjYwMyw0Ny41ODUsMjYwLDQ3LjU4NWMzMS44MjEsMCwxMzAsMCwxMzAsMCwwIi8+Cjwvc3ZnPgo=");
  animation: line 1s;
}

.menu li:hover a {
  color: #4fd9bd;
}

.menu li:not(:last-child) {
  margin-right: 30px;
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*end nav-bar*/

.panel {
  min-height: 90vh;
  margin: 20px;
  background: url(https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20%281%20of%201%29-5.jpg?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  padding: 2em;
  justify-content: center;
  align-items: center;
  
  &:nth-child(2) {
    background-image: url(https://unsplash.it/g/901/600);
  }
  &:nth-child(3) {
    background-image: url(https://unsplash.it/g/900/601);
  }
  &:nth-child(4) {
    background-image: url(https://unsplash.it/g/900/601?image=0);
  }
  &:nth-child(5) {
    background-image: url(https://images.unsplash.com/photo-1527576539890-dfa815648363?q=80&w=1530&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  }}

.content {
  max-width: 510px;
  text-align: center;
  padding: 2em;
  background: #47958af2;
  border: 1px dashed #888;
  box-shadow: 0 0 0 10px rgba(#000,.8);
  color: #fff;
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
  h1, h2 {
    padding-bottom: 1em;
    border-bottom: 1px dashed #888;
  }
}

.first-container{
  display: flex;
  flex-direction: column;
}

.logo-deepminds {
  width: 15vh;
  display: flex;
  padding-left: 10px;
}

/*team section style*/

.flexbox-container-center{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: auto;
    padding: 0px 30px;
    justify-content: center;
}

.about-chuckster {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding: 0 40px 30px;
  
}

.about-chuckster p{
    display:flex;
    justify-content: center;
    align-items:center;
}

#teamSection h2 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom:8px;
}

#teamSection h4 {
    font-size: 20px;
    font-weight: 500;
    display: flex;
}

.team-members {
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 1rem 0 2.5rem;
}

.team-members p {
    font-size: 15px;
    font-weight: 400;
}

.member {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.7rem 1.6rem;
    background: rgb(200 245 245 / 74%);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: all 265ms ease-out;
    -webkit-transition: all 265ms ease-out;
    -moz-transition: all 265ms ease-out;
    -ms-transition: all 265ms ease-out;
    -o-transition: all 265ms ease-out;
}

.member:hover {
    transform: translateY(-5px) scale(1.05);
    background: rgba(127, 229, 229, 0.665);
    transition: all 265ms ease-out;
}

.member h2, .member p {
    display: flex;
    justify-content: center;
}

.team-member-photo {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    padding-bottom: 10px;
}

.social-icons-box{
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: center;
}


.social-icons {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons-box i {
    align-items:center;
    transition: all 265ms ease-out;
    justify-content: center;
    padding: 0.4rem;
    border-radius:6px;
}

/*github icon*/
.github {
  background-color: rgb(0 0 0);
  color: white;
}

/*linkedin icon*/
.linkedin {
  background-color: #0079f5;
  color: #ffffffdb;
}

.social-icons li {
    display: inline-flex;
    position: relative;
    font-size: 1.2em;
}

.social-icons a {
    display: flex;
    padding: 2px 6px;
}

.social-icons a:before {
    content: " ";
    display:flex;
    transition: all 265ms ease-out;
}

.social-icons a:hover i {
    transform: scale(2);
    color: #00B5F5;
    background: -webkit-linear-gradient(45deg, #65e1e1, #9fc2d7,  #466bd9);
    -webkit-background-clip: text;
        /*the standard property 'background-clip' for compatibility when hover*/
        background-clip: text; 
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}